<html>
	<head>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/it/b/be/Pace_plc-logo.png" width="100%">
	<title>Shubham Java & NodeJs Blog | webapp</title>

  <!-- ****************************************CSS IMPORTS**************************************** -->

  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/member.css">



<link rel="stylesheet" type="text/css" href="/css/login.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<body style="margin:0;padding:0;">
<div style="padding: 10px; text-align: right;">
<a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><img src="images/linkedin.jpg"  width="22" height="22" /></a>
<a href="https://github.com/shubham20yeole" target="_blank"><img src="images/github.jpg"  width="22" height="22" /></a>
<a href="https://www.facebook.com/sy06736n" target="_blank"><img src="images/fb.jpg"  width="22" height="22" /></a>
<a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank"><img src="images/stackoverflow.jpg"  width="22" height="22" /></a>
</head>
</div>

  <h1><b>Java and Node.js Blog</b></h1>
  <p>Welcome to the blog of S H U B H A M</p>
  <p>
      <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank">
        <img src="../../images/linkedin.jpg"  width="22" height="22" /></a>
    <a href="https://github.com/shubham20yeole" target="_blank">
      <img src="../../images/github.jpg"  width="22" height="22" /></a>
    <a href="https://www.facebook.com/sy06736n" target="_blank">
      <img src="../../images/fb.jpg"  width="22" height="22" /></a>
    <a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank">
      <img src="../../images/stackoverflow.jpg"  width="22" height="22" /></a>
  </p>
</header>

<!-- Grid -->
<div class="w3-row">
<div id="tabs">
  <ul class="header">
    <li><a href="/dashboard"><span>Home</span></a></li>
    <li><a href="/blog"><span>New Post</span></a></li>
    <li><a href="/clients"><span>Clients</span></a></li>
    <li><a href="/blog"><span>Post Blog</span></a></li>
    <li style="float: right"><a href="/logout/"><span>L O G O U T</span></a></li>
  </ul>
</div>
    
</body>
</html>

