<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/ajax.js"></script>




<script>
	
$(document).ready(function(){
$( "#ajaxtest" ).click(function() {
	alert();
	var parameters = { search: $(this).val() };
       $.get( '/searching',parameters, function(data) {
       $('#results').text(data);
     });
 });
});

</script>
Result = <p id="results"></p>

<button id="ajaxtest">Ajax Test</button>