<ul>
  <li><a class="admin" href="#admin">ADMIN</a></li>
  <li><a class="upload" href="#home">UPLOAD RESUME</a></li>
  <li><a href="#allresume" class="allresume">FILTER RESUME</a></li>
  <li><a href="https://github.com/shubham20yeole?tab=repositories" target="_blank"><i class="fa fa-github"></i></a></li>
  <li><a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://github.com/shubham20yeole/React.js_Cordova_App" target="_blank">ANDROID</a></li>
  <li><a href="https://github.com/shubham20yeole/IVR-HelpDeskProject" target="_blank">IVR</a></li>
  <li><a href="https://github.com/shubham20yeole/AmazonWebService-AWS-S3Bucket" target="_blank">AWS</a></li>
  <li><a href="http://shubham-great-livings.herokuapp.com/timetable" target="_blank">TASK TRACKER</a></li>
  <li><a href="https://shubhamtwilio.herokuapp.com/" target="_blank">TWILIO</a></li>
  <li><a href="http://shubham-great-livings.herokuapp.com/" target="_blank">REAL ESTATE</a></li>
  <li><a href="https://java-nodejs-blog.herokuapp.com/" target="_blank">BLOG</a></li>
</ul>