<title>SHUBHAM RESUME SELECTOR</title>
<link rel="icon" href="../images/pace.jpg">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/index.js"></script> 
<div id="signature">
<h2>DEVELOPER INFO: </h2>
<p>Name: Shubham Yeole</p>
<p>Title: Full Stack Developer</p>
<p>Status: Seeking full time opportunity</p>
<p>Phone: +1 (201) 887-5323</p>
<p>Email: shubhamyeole.cs@gmail.com</p>
</div>
<div id="footer" class="header">
<% include headerfooter.html %>
</div>


<center>
	<h1 id="message"><%=message%></h1>
<div id="awsdivout">
<div id="awsdiv">
<p id="heading">Upload Resume / <a class="allresume" href="#">Filter Resume</a></p>
	<h2>& RESUME SELECTOR DEMO</h2>
	<h5>B Y - S H U B H A M</h5>
	<form method="post" action="/upload" enctype="multipart/form-data">
		<p><input type="text" name="fullname" id="name" placeholder="Full Name"><span id="name-msg"></span></p>
		<p><input type="text" name="email" id="email" placeholder="Enter your email"><span id="email-msg"></span></p>
		<p><input type="file" name="file" title="s" id="file"><span id="file-msg"></span></p>
		<input type="submit" name="submit" style="display: none;" id="finalsubmit" value="Submit Resume">
	</form>
	<input type="submit" name="submit" id="checkpdf" value="Submit Resume"></i>
	<br><br><br><br><br><br>
<div id="resultcount">TOTAL RESUME IN SYSTEM = <%=resumecount%></div>
</div>

<div id="admin-awsdivout">
<div id="admin-awsdiv">
<p id="heading">ADMIN SECTION / <a class="allresume" href="#">Filter Resume</a></p>
	<h5>B Y - S H U B H A M</h5>
	<form method="post" action="/upload2" enctype="multipart/form-data">
		<p><input type="file" name="file" ></span></p>
		<input type="submit" name="submit" value="Submit File">
	</form>
	<br><br>
<div id="resultcount">TOTAL RESUME IN SYSTEM = <%=resumecount%></div>
</div>
</div></div>
<div id="resumeselector">
<p id="heading">Filter the resume from below dropdown options / <a class="upload" href="#home">Upload Resume</a></p>
<select class="select">
  <option value="default">Backend</option>
  <option value="java">Java</option>
  <option value="python">Python</option>
  <option value="nodejs">Nodejs</option>
  <option value="c#">C#</option>
  <option value="net">.Net</option>
  <option value="c++">C++</option>
  <option value="scala">SCALA</option>
</select>

<select class="select">
  <option value="default">Frontend</option>
  <option value="angular">AngularJS</option>
  <option value="javascript">JavaScript</option>
  <option value="html">HTML</option>
  <option value="html5">HTML5</option>
  <option value="css">CSS</option>
  <option value="bootstrap">BootStrap</option>
  <option value="sass">SASS</option>
</select>

<select class="select">
  <option value="default">API</option>
  <option value="facebook">Facebook API</option>
  <option value="linkedin">LinkedIn API</option>
  <option value="aws">AWS S3 Bucket</option>
  <option value="pdf">pdf.js</option>
  <option value="sendgrid">Sendgrid API</option>
  <option value="email">Email Service</option>
  <option value="twilio">Twilio API</option>
</select>

<select class="select">
  <option value="default">Database</option>
  <option value="mysql">MySQL</option>
  <option value="nosql">NoSQL</option>
  <option value="mongodb">MongoDB</option>
</select>
<br><hr><br>
<div id="skillsdiv"><span id="imp">Filter Skills:</span> </div>

<button id="go" style="display: none;"><img src="/images/go.jpg" width="62" height="62"></button>
 <br><hr><br>

<div id="resultcount">TOTAL RESUME IN SYSTEM = <%=resumecount%></div>
<div id="load"></div>
<div id="resumeappendout">
	<table width='100%'>
		<tr><td>Name</td><th>Email</th><th>Resume URL</th>
		<th>Date</th><th>Approve Status</th><th>Action Status</th></tr>
		<tbody id="resumeappend"></tbody>
	</table>
</div>
</div>
<br><br><br><br><br><br>
</center>

<div class="footer" id="footer">
<% include headerfooter.html %>

</div>

